<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.umn.bpoc.bpocandroid">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".activity.MapsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.LoginPageActivity"
            android:label="BPOC">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".model.FriendList"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".model.EventList"
            android:label="@string/title_activity_event_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".model.Setting"
            android:label="@string/title_activity_setting"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".model.Notification"
            android:label="@string/title_activity_notification"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".model.AddFriend"
            android:label="@string/title_activity_add_friend"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@layout/content_add_friend" />
        </activity>
        <activity
            android:name=".model.FriendRequestList"
            android:label="@string/title_activity_friend_request"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>